vendor
# Core WordPress
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/upgrade/
wp-content/debug.log
wp-config.php

# Thèmes par défaut
content/themes/twentytwentyfive/
content/themes/twentytwentyfour/
content/themes/twentytwentythree/

# Fichiers générés
content/uploads/
content/uploads/elementor/
*.log
composer-setup.php
content/debug.log

# Fichiers système
license.txt
readme.html
wp-*.php
*.php~
xmlrpc.php
